@font-face{
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: Raleway-Heavy;
    src: url(fonts/Raleway-Heavy.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}
.main-view{
    background-image: url("img/background_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar__wrapper{
    padding: 35px 10% 0 10%;
    margin: 0px;
    transition: all 1s;
}
.navbar__wrapper__scrolled{
    padding: 15px 10% 0 10%;
    margin: 0px;
    background-color: #fff;
}
.navbar__bar-menu{
    float: right;
    display: none;
}
.bar3, .bar1, .bar2{
    width: 40px;
    margin: 6px;
    border-radius: 5px;
    border: 3px solid black;
    transition: all 1s;
}
 .navbar__bar-menu:hover .bar1{
    opacity: 0;
  } 
  .navbar__bar-menu:hover .bar2{
    transform: rotate(45deg);
  }
  .navbar__bar-menu:hover .bar3{
    transform: rotate(-45deg) translate(6px, -10px); 
  }

.navbar__container{
    padding: 0;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #262626;
}
.navbar__item{
    margin: 15px 15px 15px 10px;
}
.navbar__item a{
    color: #262626;
    text-align: center;
	font-family: 'Raleway-Bold', sans-serif;
	font-size: 16px;
    border-top: 4px solid transparent;
    padding: 0px !important;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}
li.active a, .navbar__item a:hover{
    background-color: transparent !important;
    border-top: 4px solid #ff6033 !important;
}   
{
    background-color: transparent !important;
    border-top: 4px solid #ff6033;
}
.main-article {
	min-height: 50vh;
	margin-top: 50px;
	padding-left: 9%;
	padding-right: 10%;
}
.main-article__wrapper {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-article__wrapper--h1{
    font-family: Raleway-Heavy, sans-serif;
    font-size: 60px;
}
.standard-text{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    color: #262626;
    font-size: 17px;
}
.defbutton{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0px;
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 6px 15px -5px rgba(0,0,0,0.75);
    width: 20%;
    font-family: Raleway;
    font-weight: 500;
}
.defbutton:hover{
    color: black;
    text-decoration: none;
}
.main-article__wrapper--btn{
    width: 65%;
    background-color: #ee4719;
}
.scroll-image{
    width: 24px;
    height: 40px;
    margin: 70px auto 0px auto;
    background-image: url(img/scroll.png);
    animation: jump 1.5s ease-in-out;
    -webkit-animation: jump 1.5s ease-in infinite;
}
@keyframes jump{
    0% {margin-top: 70px;}
    30% {margin-top: 66px;}
    70% {margin-top: 70px;}
    100% {margin-top: 70px;}
}
.scroll-image a{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.section-wrapper{
    padding: 20px 11%;
}
.about{
    background-color: #00b6b6;
    background-image: url(img/raspberry.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 10%;
    padding-bottom: 30px;
}
.about__content{
    height: 600px;
    margin-top: 50px; 
}
.about__content > .defheader{
    margin-top: 50px;
}
.defheader{
    font-family: Raleway-Bold, sans-serif;
    font-size: 5rem;
    color: #ffffff;
}
.standard-text--light{
    color: rgba(255,255,255,0.7);
}
.services{
    background-color: #70bfff;
}
.header__sm{
    display: none;
}
.services-content{
    margin: 139px 0px 131px 0px;
    height: 460px; 
}
.services-content__element{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.61);
    box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.61);
}
.services-content__element--name{
   width: 65%;
   margin-bottom: 0;
   font-family: Raleway-Bold;
   font-size: 1.25rem;
}
.services-content__element--divider{
    border: 1px solid #9d9d9d;
    height: 100%;
}
.services-content__element--img{
  width: 50px;
  height: 50px;  
}
.services__aside{
    background-image: url('img/tomato.png');
    background-repeat: no-repeat;
    height: 520px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.gallery{
    background-color: #ffe92f;
}
.defheader--black{
    text-align: center;
    color: black;
}
.gallery__text{
    width: 50%;
    text-align: center;
    margin: 29px auto;
    font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
}
.gallery__item{
    padding: 10px;
}
.gallery__item img{
    width: 100%;
}
.gallery__btn{
    display: block;  
    margin: 20px auto;
    width: 20%;
    background-color: #5585a2;
}
.subscribe{
    height: 500px;
    background-image: url(img/blueberries.png);
    background-size: cover;

}
.subscribe > h1{
    font-family: Raleway-Bold;
    font-size: 2.5rem;
    margin-top:120px;
}
.subscribe > p{
    width: 500px;
    font-family: Raleway;
    font-weight: 300;
}
.form-inline{
    width: 80%;
}
.subscribe__input{
    width: 43%;
    padding: 17px;
    border: 1px solid #262626;
    font-size: 0.9rem;
    font-family: Raleway;
    font-weight: 500;
    margin-right: 15px;
}
.subscribe__btn{
    display: inline-block;
    width: 20%;
    background-color: #96b92c;
    font-family: Raleway;
    font-weight: 500;
}
.blog{
    height: 864px;
    background-color: #b07cf7;
    padding-top: 70px;  
}
.blog__header{
    text-align: center;
}
.blog__text{
    text-align: center;
    width: 50%;
    margin: 29px auto;
}

.blog__post{
    background-size: cover;
	height: 310px;
	padding: 0px;
	padding-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}
.blog__post--1{
    background-image: url(img/blog1.png);    
}
.blog__post--2{
    background-image: url(img/blog2.png);    
}
.blog__post--3{
    background-image: url(img/blog3.png);    
}
.blog__post--date{
    margin: 0px 0px 0px 30px;
    background-color: rgba(0,0,0,0.3);
    width: 60px;
    height: 60px;
    border-radius: 3px;
    padding: 4px;
}
.blog__post--day, .blog__post--month{
    color: #fff;
    font-family: Raleway-Bold;
    text-align: center;
    font-size: 2rem;
    margin: 0px;
    line-height: 25px;
}
.blog__post--month{
    font-size: 1.3rem;
}
.blog__post--caption{
    margin-top: 70px;
    height: 150px;
    padding: 20px 15px 0px 15px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255, 255, 255, 0));
    
}
.blog__post--text{
    color: #fff;
    font-family: Raleway-Bold;
    font-size: 1.25rem;
    margin-top: 25px;
}
.blog__post--author{
    color: rgba(255,255,255,0.5);
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}
.blogbtn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #f72b3b;
}
.contact{
    background-image: url(img/footerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px; 
}
.contact__text{
    width: 50%;
    text-align: center;
    margin: 29px auto 59px auto;
    font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
}
.contact__input, .contact__textarea{
    width: 100%;
    background-color: #77dbdc;
    border: none;
    margin-bottom: 12px;
    color: #fff;
    padding: 15px;
    transition: background-color 2.5s;
}
.contact__input{
    height: 40px;
}
.contact__textarea{
    resize: none;
}
.contact__input:focus, .contact__textarea:focus{
    border-left: 3px solid #355b82;
    background-color: #00c4c4;
}
.contact__bold{
    font-size: 1.1rem;
    font-family: Raleway-Bold;
    line-height: 0.7;
}
.contact__normal{
    font-size: 1.2rem;
    font-family: Raleway;
    margin-bottom: 20px;
}
.footer{
    background-color: black;
    text-align: center;
    height: 90px;
    color: #b9b9b9;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer_p1{}
.footer_p2{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
.footer_p3{}

@media only screen and (max-width: 800px){
    #navbar{
        display: none;
    }
    .navbar__bar-menu{
        display: block;
    }
}